body{
    
    font-family: "Segoe UI";
    background-color: #F0EBE3;
}
.paletaColores {
    padding: 10px;
    position: absolute;
    margin: 1%;
    margin-left: 77%;
    margin-top: 3%;
    border: 2px solid black;
    float: right;
    width: 250px;
}
.selectorCss{
    padding: 10px;
    position: absolute;
    margin-left: 77%; 
    border: 2px solid black;
    float: right;
    width: 250px;
    margin-top: 21%;
    
}
.colores p
{
   margin-left: 50%;
   margin-top: 3%;
   position: absolute;
   color: #7D9D9C;
   width: 400px;
}
.colores a{
    margin-left: 50%;
    margin-top: 20%;
    position: absolute;
    color: #576F72;
}

#link{
    position: absolute;
    margin-top: 20%;
    margin-left: 60%;
}
.colores h1{
    margin-left: 50%;
    margin-top: 1%;
    position: absolute;
    color: #576F72;
}

.selectores h1{
    margin-left: 50%;
    margin-top: 23%;
    position: absolute;
    color: #576F72;
}
.selectores p{
    margin-left: 50%;
    margin-top: 26%;
    position: absolute;
    color: #7D9D9C;
    width: 400px;
}
.selectores a{
    margin-left: 55%;
    margin-top: 35%;
    position: absolute;
    text-align: center;
    color: #576F72;

}
table{
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
   border-color: #7D9D9C ;
   
    width: 500px;
}
table th{
    color: #576F72;
}
table td{
    color:#7D9D9C;
}
#casa{
    margin: 0;
    top: 0%;
    position: absolute;
    margin-top:2%;
    margin-left: 5%;
}
